<header>
    <!-- Imagem de fundo do Header -->
    <div id="background"></div>
  
    <!-- Logo Gamemania com o texto -->
    <div id="background2">
  
        <img id="logo" src="/assets/imagens/Logo.jpg" alt="Logo" width="160" height="160">
        <div class="descricao">
            <h1>Os melhores jogos, encontra aqui!</h1>
            <p>Somos especialistas em comércio por atacado de games das principais plataformas no mercado mundial, tais como: Playstation, Xbox e Nintendo.</p>
        </div>
        <!-- Ícones Playstation e etc -->
        <div class="icones-gamer">
            <div class="ico">
                <img src="/assets/imagens/icones/playstation.png" alt="playstation logo" width="40" height="40">
                <p>Playstation</p>
            </div>
  
            <div class="ico">
                <img src="/assets/imagens/icones/xbox.png" alt="Xbox logo" width="40" height="40">
                <p>Xbox</p>
            </div>
  
            <div class="ico">
                <img src="/assets/imagens/icones/steam.png" alt="Steam logo" width="40" height="40">
                <p>Nintendo</p>
            </div>
        </div>
        <!-- Fim dos ícones -->
    </div>
    <!-- Fim do Logo Gamemania com o texto -->
  </header>
  
  <section id="destaques">
  
    <article id="item01" class="container-fluid">
  
        <div class="titulo">
            <img src="/assets/imagens/promocao.png" width="40" height="40">
            <span></span>
            <h2>Destaques</h2>
        </div>
  
        <div class="row">
            <div class="descricao-item col-md-6">
                <div class="barra"></div>
                <div class="item">
                    <h2> juiced2</h2>
                    <p>O jogo começa em uma boate onde o jogador escolhe seu personagem e carro. A Juice Games decidiu remover o calendário de corridas, o sistema de respeito e as corridas de arrancada. Depois de escolher um personagem e um carro, o jogador obtém uma lista de corridas disponíveis, três das quais devem ser vencidas para passar de nível. Juiced 2 inclui apenas dois tipos de corridas: corridas de circuito e drift .
                    </p>
                    <button class="btn btn-primary">Comprar <img src="/assets/imagens/icones/add.png" width="24" height="24"></button>
                </div>
            </div>
  
            <div class="item-img col-md-6">
                <img src="/assets/imagens/prize.jpg" width="520" height="350">
                <!-- Comentário da foto -->
                <blockquote class="blockquote text-center">
                    <p>"Melhor jogo de corrida - 2021"</p>
                    <footer class="blockquote-footer">IGN Brasil</footer>
                </blockquote>
            </div>
  
        </div>
  
        <div class="row">
  
  
            <div class="item-img col-md-6">
                <img src="/assets/imagens/rdr2.jpg" width="520" height="350">
                <!-- Comentário da foto -->
                <blockquote class="blockquote text-center">
                    <p>"Melhor jogo de ação e aventura"</p>
                    <footer class="blockquote-footer">IGN Brasil</footer>
                </blockquote>
            </div>
            <div class="descricao-item col-md-6">
  
                <div class="item">
                    <h2>Assassin's Creed Valhalla</h2>
                    <p>Torne-se Eivor, um invasor Viking lendário em busca de glória. Explore a Idade das Trevas da Inglaterra enquanto ataca seus inimigos, amplia seu assentamento e consolida seu poder político.</p>
                    <button class="btn btn-primary">Comprar <img src="/assets/imagens/icones/add.png" width="24" height="24"></button>
                </div>
                <div class="barra"></div>
            </div>
  
        </div>
        <div class="row">
            <div class="descricao-item col-md-6">
                <div class="barra"></div>
                <div class="item">
                    <h2>The Evil Within®</h2>
                    <p>Do mestre Shinji Mikami, The Evil Within é a última evolução em terror de sobrevivência. O detetive Sebastian Castellanos perdeu tudo, mas quando ganha uma chance de salvar sua filha, ele deve descer mais uma vez ao mundo tenebroso
                        de STEM. Ameaças assustadoras surgem de cada canto à medida que o mundo se deforma ao seu redor. Ele enfrentará de frente as adversidades com armas e armadilhas ou se esgueirará pelas sombras para sobreviver.</p>
                    <button class="btn btn-primary">Comprar <img src="/assets/imagens/icones/add.png" width="24" height="24"></button>
                </div>
            </div>
  
            <div class="item-img col-md-6">
                <img src="/assets/imagens/village.jpg" width="520" height="350">
                <!-- Comentário da foto -->
                <blockquote class="blockquote text-center">
                    <p>"Melhor jogo de Terror"</p>
                    <footer class="blockquote-footer">IGN Brasil</footer>
                </blockquote>
            </div>
  
        </div>
        <div class="row">
  
  
            <div class="item-img col-md-6">
                <img src="/assets/imagens/halo.jpg" width="520" height="350">
                <!-- Comentário da foto -->
                <blockquote class="blockquote text-center">
                    <p>"Melhor jogo de RPG "</p>
                    <footer class="blockquote-footer">IGN Brasil</footer>
                </blockquote>
            </div>
            <div class="descricao-item col-md-6">
  
                <div class="item">
                    <h2>The Witcher 3: Wild Hun</h2>
                    <p>O terceiro capítulo da série The Witcher será também o seu último, encerrando a história da trilogia. Este novo episódio manterá a estrutura de mundo aberto que popularizou a franquia e trará sua própria história, independente das
                        anteriores, visando agradar tanto novos jogadores quanto os antigos.</p>
                    <button class="btn btn-primary">Comprar <img src="/assets/imagens/icones/add.png" width="24" height="24"></button>
                </div>
                <div class="barra"></div>
            </div>
  
        </div>
    </article>
  
  
  
  
  
  </section>
  <section id="galeria">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/assets/imagens/horizon.jpg" class="d-block w-100">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Tony Hawk's™ Pro Skater™ 1 + 2 </h5>
                    <p>Aquele remake mais que esperado.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/assets/imagens/tlou2.jpg" class="d-block w-100">
                <div class="carousel-caption d-none d-md-block">
                    <h5>The Last Os Us II</h5>
                    <p>Jogo mais esperado do século.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/assets/imagens/zelda.jpg" class="d-block w-100">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Super Mario</h5>
                    <p>Dês de 1985, acabando com a alegria das tartarugas.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    </div>
  </section>
  
 <app-contato></app-contato>
  <router-outlet></router-outlet>
  
  
  



